*{
    margin: 0;
    padding: 0;
    
}



.footer-container{
    display: flex ;
    flex-direction: row;
    margin-top: 50px;
    background-color: #231f20;
   
    height: 350px;
    width:100% ;
    color: white;

}

.logoss{
    height: 15%;
    margin-left: 100px;
    margin-top: 35px;


}
.site-name{
    margin-left: 100px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #058488;
}
.line-copyright{
    margin-left: 110px;
    color: #bbb;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 75px;
   font-size: 12px;

}
.addresss{
    margin-left: 100px;
    margin-top: 10px;
    color: #ddd;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section-21{
    margin-left: 470px;
    margin-top: 210px;
    font-size: 19px;
    
}
.nav-item{
    padding: 10px;
    font-size: 19px;
}

.social-media-icon{
    font-size: 25px;
    padding: 10px;
    margin-left: 380px;

    
   
}
.mob-no{
   font-size: 15px;
   margin-left: 337px;
   margin-top: 5px;
}
.media-icon{
    font-size: 22px;
    margin-left: 405px;
   
}
.ad{
    margin-left: 100px;
    margin-top: 30px;
}

/*small desktop*/

@media screen and (min-width: 1200px) and (max-width: 1400px){

    .section-2{
        margin-left: 300px;
    }
}

/*mobile */

@media screen and (min-width: 300px) and (max-width: 480px){
    .footer-container{
        height:50vh ;
    }
   
    .logoss{
        margin-left: 30px;
    }
    .site-name{
        margin-left: 30px;
    }
    .addresss{
        margin-left: 30px;
        margin-top: 20px;
    }
    .line-copyright{
        display: none;
    }
    .section-2{
       display: none;
    }
    .nav-item{
        padding: 9px;
        margin-left: 0px;
        
    }
    .social-media-icon{
       
      margin-left: 100px;
    }
    .mob-no{
        display: none;
    }

}


