
* {
    margin: 0;
    padding: 0;
}

.container-1 {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    background: linear-gradient(rgb(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../img/hinjevadi-img/b2ap3_thumbnail_infosys-pune.jpg.crdownload);
    opacity: 0.9;
    background-size: cover;



}

.section-1 {
    width: 700px;
}

.head-name {
    font-size: 45px;
    color: white;


    margin-left: 57px;
    margin-top: 220px;

}

.sub-header {
    font-size: 23px;
    margin-top: 30px;
    color: #94bc45;
    margin-left: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.set-line{
    font-size: 17px;
    color: white;
    margin-left: 50px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head-img {
    height: 500px;
    margin-left: 105px;
    margin-top: 170px;
    filter: drop-shadow(0px 0px 8px #004a4d);
}

.container-2 {
    height: 60px;
    width: 100%;
    background-color: #009966;
}

.slogen {
    font-size: 35px;
    color: #231f20;
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.history-paragraph {
    background-color: #ddd;
    height: 540px;
    width: 100%;
    display: flex;
}

.history {
    background-color: #004a4d;
    color: white;
    margin-left: 50px;
    border: none;
    height: 125px;
    width: 130px;
    padding: 3px;
    width: 160px;
    height: 140px;
    font-size: 35px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.history-info{
    font-size: 20px;
    color: #004a4d;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35px;
    margin-right: 10px;
    margin-top: 80px;
    text-align: justify;
    
}
.history-img{
    width: 500px;
    height: 600px;
}
.Inftrastructure{
    
    background-color: #004a4d;
    color: white;
   margin-top:50px;
    border: none;
    height: 100px;
    width: 220px;
    padding: 3px;
    font-size: 35px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.section-3{
    background-color: #ddd;
    display: flex;
}
.Inftrastructure-img{
    width: 500px;
    height: 600px;
    /* margin-left: 200px; */
    margin-top: 100px;
    margin-left: -140px;
    
    
}
.circle{
    height: 150px;
    width: 150px;
    border: 5px solid  #92E3A9;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 255px;
}
.num{
    font-size: 60px;
    margin-left: 44px;
    color: #004a4d;
    
}
.building{

    color: #004a4d;
    font-size: 22px;
    margin-left: 30px;
}
.ecre{
    margin-left: 30px;
}
.floor{
    margin-left: 50px;
}
.text{
    margin-top: 60px;
    margin-left: 28px;
    font-size: 19px;
    color: #004a4d;
}
.section-4{
    height: 280px;
    width: 750px;
    background-color: #7fcbae;
    margin-top: -100px;
    margin-left: 700px;
}
.Inftrastructure-paragraaph{
    font-size: 23px;
    padding: 25px;
    color: #004a4d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-5{
    width: 100%;
    height: 700px;
    background-color: #ddd;
    margin-top: 70px;
    
}
.img-section-1{
    display: flex;
}
.img-1{
    height: 350px;
    width: 500px;
    margin-top: 70px;
    margin-left: 200px;
    position: relative;
}
 .img-1:hover{
  transform: translateY(-15px);
    transition: 0.5s;
} 
.cafe-img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.img-1-text{
    background: linear-gradient(45deg,#004a4d,#231f20);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    color: white;
}
 .img-1:hover .img-1-text{
    opacity: 0.8;
  

 }

.doctor-img{
    height: 350px;
    margin-top: 170px;
    margin-left: 120px;
}

.cafe-img::before{
   
    background: linear-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
    border-radius: 50%;
    transition: 0.5s;

}
.cafe{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 25px;
}
.feature{
    font-size: 20px;
    margin-left: 30px;
    text-align: justify;
    margin-top: 50px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.companies-text{
    height: 100px;
    width: 220px;
    color: white;
    background-color: #004a4d;
    
    margin-top: 70px;
    font-size: 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
}
.phases-div{
    background-color: #ddd;
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-around;
}


.phase-1{
    height: 300px;
    width: 400px;
    background-color: white;
    border: #231f20;
    background: linear-gradient(45deg,#004a4d,#231f20);
      opacity: 0.9;

      border-radius: 5px;

}
.phase{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.phase-text{
    color: white;
    font-size: 20px;
    margin-left: 19px;
    margin-right: 15px;
    margin-top: 20px;
}
.phase-btn{
    padding: 10px;
    background-color: #fa991c;
    color: white;
    margin-left: 150px;
    margin-top: 40px;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.phase-btn:hover{
    background-color: #009966;
    cursor: pointer;
}
.phase1-name{
    height: 60px;
    padding-top: 10px;
    background-color: #004a4d;
    font-size: 37px;
    color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.phase1-name-ad{
    color: #fa991c;
}
.company-page1{
    height: 750px;
    width: 1500px;
    margin-left: auto;
    margin-right:auto ;
    margin-top: 10px;
}
.company-1{
    height: 320px;
    width: 900px;
    background-color:#dbf0e8;
    margin-left: 100px;

}
.cognizant-name{

    margin-left: 50px;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cognizant-logo{
       margin-top: -10px;
    height: 80px;
    margin-left: 50px;

}
.address-company{
    color: #004a4d;
    font-size: 18px;
    margin-left: 58px;
    margin-top: -10px;
    
}
.company-2{
    display: flex;
    flex-direction: row;
}
.company-2-img{
    height: 390px;
    margin-left: 0px;
    margin-top: -10px;
    width: 480px;
    filter: drop-shadow(10px 0px 10px #59eeae);
}
.abc{
    margin-top: 20px;
    margin-left: 50px;
}
.phase-2-name{
    height: 60px;
    width: 100%;
    padding-top: 10px;
    background-color: #004a4d;
    font-size: 37px;
    color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    .phase-2{
        display: flex;
        flex-direction: row;

}
.ddd{
    margin-left: 20px;

}
.fff{
    margin-left: 40px;
}
.eee{
    margin-top: 20px;
}
.zzz{
    margin-left: 480px;
    margin-top: -40px;
}







@media screen and (min-width: 375px) and (max-width: 668px) {
    .container-1 {
        height: 1100px;
        width: 950px;
        display: flex;
        flex-direction: column;
    }

    .head-name {
        font-size: 60px;
        margin-left: 50px;

    }

    .sub-header {
        font-size: 80px;
        margin-left: 120px;
        color: gray;
    }

    .head-img {
        margin-top: -80px;
    }


}


@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .container-1 {
        height: 700px;
        width: 1300px;
        display: flex;
        flex-direction: row;
    }

    .head-name {
        font-size: 60px;
        margin-left: 80px;
        font-size: 45px;
    }

    .head-img {
        height: 400px;
        margin-left: 75px;
        margin-top: 170px;
        filter: drop-shadow(0px 0px 13px #004a4d);
    }

    .sub-header {
        font-size: 30px;
        margin-left: 83px;
        color: #94bc45;
    }
    .Inftrastructure{
        margin-top: 190px;
    }
    .Inftrastructure-img{
            margin-top: 250px;
            height: 450px;
            margin-left: -200px;

    }
    .circle{
        margin-left: 70px;
    }
    .section-4{

        margin-left: 500px;
    }
    .connectivity{
        margin-top: 20px;
    }
    .img-1{
        margin-left: 100px;
    }
    .company-2-img{
        width: 370px;
        height: 300px;
        margin-top: 50px;
    }
    .abc{
        margin-top: 70px;
        margin-left: -100px;
        
       
    }
    .company-1{
        margin-left: 20px;
        width: 800px;
        height: 350px;
    }
    .phase1-name{
        margin-top: 20px;
    }

}