
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}
html{
    font-size: 10px;
}


header {
    width: 100vw;
    height: 10vh;
    background-color: #004a4d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;


}


.header-logo-img{
    width: 210px;
   
}

.header-ul {
    display: flex;
}

.header-list {
    list-style: none;
    padding: 2rem 4rem;
}

.header-list .header-href::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;

    margin: auto;
    background-color: #fa991c;
    position: absolute;
}

.header-list .header-href:hover::after {
    width: 100%;
    transition: width 0.5s linear;
}

.header-list .header-href:hover {
    color: #fa991c;
}




.header-href {
    text-decoration: none;
    font-size: 2rem;
    position: relative;


}

.header-cross {
    display: none;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    /* background:linear-gradient(rgb(0,74,77),rgba(0.74,77,0.7)); */
}

.section1 .container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #dbf0e8;
    flex-wrap: wrap;
    


}

.hexagon {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 350px;
    height: 400px;
    margin: 50px 20px 70px;
 

}

.shape1{
    position: absolute;
    width: 103%;
    height: 103%;
    top: -0.55rem;
   background: linear-gradient(45deg,rgba(35,31,32,0.9), rgba(35,31,32,0.9));
 
   
    clip-path: polygon(0 26%, 49% 0, 100% 25%, 100% 77%, 49% 100%, 0 73%);
    
   transition: 0.5s;
    
}
.container .hexagon:hover .shape1 { 
    transform: translateY(-15px);
    display: none;
    
}


/* 
 .hexagon::before {
    content: '';            
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
    border-radius: 50%;
    transition: 0.5s;

} 
 .hexagon:hover::before {

    opacity: 0.8;
    transform: scale(0.8);
}  */

.container .hexagon .shape {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(0 26%, 49% 0, 100% 25%, 100% 77%, 49% 100%, 0 73%);
    transition: 0.5s;

  
  
    
}

.container .hexagon:hover .shape { 
    transform: translateY(-15px);
}

.container .hexagon .shape img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .hexagon .shape .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #004a4d, rgba(0, 74, 77, 0.5));
    color: #fff;
    opacity: 0;
    transition: o.5s;


}

.container .hexagon:hover .shape .content {
    opacity: 1;
}

.firstheading {
    text-align: center;
    font-size: 30px;
    margin-top: -50px;
    padding-bottom: 35px;
    font-weight: bold;

}

.thoughts {
    font-size: 20px;

}

.section1 .container1 {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

.test-card{
    height: 500px;
    width: 420px;
    border: 2px solid black;
    border-radius: 30px;
    border-width: 3px;
    background-color:aquamarine;
    }
.main-contain{
    display: flex;
    padding: 10px;
    margin: 10px;
}
.main-card{
    border: 2px solid green;
    border-radius: 40px;
    height: 350px;
    width: 300px;
    position: relative;
    top:80px;
    left: 50px;
    background-color: green;

}

footer{
    position: relative;
    width: 100vw;
    height: 200px;
    margin-top: -33rem;
}
.footer {
  width: 100%;
  height: 100%;
    background-color: #231f20;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: -32rem;
  left: 0;
  z-index: 1000;

}
.footer1{
width: 30%;
margin-top: 15px;
}
.fa-location-dot{
    font-size: 2rem;
    color: white;
}
.footer1-1{
    font-size: 3rem;
    color: #fa991c;
    font-weight: bold;
}
.footer1-2{
    font-size: 2rem;
    margin: 1rem 1.5rem;
    width: 100%;
    /* text-align: justify; */
}
.footer2{
    width: 40%;
    margin-top: 2.5rem;
   
}
.footer2-1{
    font-size: 3rem;
    text-align: center;
    
}
.footer2-2{
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
}
.footer3{
    margin-top: 1.5rem;
    width: 10%;
    margin-left: 10rem;
    
}
.footer3-text{
    font-size: 2.3rem;
    font-weight: bold;
    color: #fa991c;
}
.footer3 .footer3-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 12px 15px;
   


}
.footer3 .footer3-list .footer3-list-item{
    list-style: none;
    font-size: 2rem;
    margin-bottom: 10px;
    position: relative;
}
.footer3 .footer3-list .footer3-list-item .footer3-list-item-href{
    text-decoration: none;
}
.footer3 .footer3-list .footer3-list-item .footer3-list-item-href::after{
    content: '';
    position: absolute;
    left: 0;
    height: 3px ;
    width: 0;
    background-color: #FA991C;
    transition: width 0.5s;
    display: block;
    margin: auto;
}
.footer3 .footer3-list .footer3-list-item .footer3-list-item-href:hover::after{
   width: 70%;
   transition: width 0.5s linear;
}
.footer3 .footer3-list .footer3-list-item:hover .footer3-list-item-href{
  color: #fa991c;
}

@media screen and (min-width: 300px) and (max-width: 480px){

    html {
        font-size: 5px;
    }

    header {
        height: 15vw;
    }

    .header-nav {
        display: none;
    }

    .header-logo {
        font-size: 4rem;
    }
    .header-logo-img{
        width: 110px;
       
    }
    .header-cross {
        display: block;
    }

    .fa-solid {
        font-size: 5rem;
    }
    .hexagon {
        
        width: 250px;
        height: 300px;
        margin: 50px 20px 70px;
     margin-top: 20px;
     margin-bottom: 20px;
    
    }
    .firstheading {
        text-align: center;
        font-size: 20px;
        margin-top: -20px;
        padding-bottom: 10px;
        
    
    }
    .thoughts {
        font-size: 15px;
    
    }
    .footer{
        flex-direction: column;
        width: 100vw;
        align-items: center;
        height: 120px;
    }
        .footer1{
            display: none;
        }
        footer{
            width: 100vw;
        }
        .footer2{
            width: 100vw;
            text-align: center;
        }
        .footer2-1{
            font-size: 3rem;
        }
        .footer2-2{
            font-size:2rem ;
            padding: 0 1rem;
        }
        .footer3{
            width: 100vw;
            margin: 0;
        }
        .footer3-text{
            display: none;
        }
        .footer3 .footer3-list1{
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0rem;
           
        }
        .footer3 .footer3-list .footer3-list-item{
          margin: 0;
          font-size: 2rem;
        }
}