* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

/* aobut page */
.main-contener {
    height: 80vh;
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url(./../img/about/team-work1.jpeg);
    display: flex;
   justify-content: center;
   align-items: center;
   background-size: 100vw 80vh;
   background-repeat: no-repeat;
}
.font-size-large{
    font-size: 8rem;

}
.section1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 p{
    font-size: 3.5rem;
    font-weight: 600;
    color:#231f20;
    line-height: 4.5rem;
}

.about-page-container {
    height: 90vh;
    width: 100vw;
    position: relative;
    background-color:#004a4d;

}
.img1{
    height: 50vh;
    position: absolute;
    left: 40%;
    top: 2%;
    border-radius: 0.4rem;


}
.img2{
    height: 50vh;
    width: 35vw;
    position: absolute;
    left: 15%;
    top: 22%;
    border-radius: 0.4rem;
}
.about-us{
    position: absolute;
    height:60vh ;
    width: 25%;
    background-color: white;
    top:30%;
    left: 55%;
    border-radius: 0.4rem;
}
.about-us .about-us-heading{
    margin-top: 4rem;
  text-align: center;
    color: #004a4d;
    font-size: 3rem;
    font-weight: bold;
    
}
.about-us .about-us-para{
    
    text-align:justify;
    font-size:2.2rem ;
    color: #004a4d;
    padding: 3rem 2rem;


}

/* our team */
.our-team-main-heading{
    width: 100vw;
    text-align: center;
    font-size: 6rem;
    color: #231f20;
    padding: 4rem 0 3rem 0;
    font-weight: bolder;
    
}
.our-team-main-heading-span{
    border-bottom:    10px double #231f20 ;
}
.our-team{
    margin-top: 5rem;
    display: flex;

    align-items: center;
    justify-content: space-around;
    width: 100vw;
}
.team-member{
    height:60vh ;
    width: 25%;
   
    position: relative;
    overflow: hidden;
}
.team-img1{
    height: 100%;
    width: 100%;
    
    top: 0;
    left: 0;
    transition: 0.5s;
}
 .team-member.team-member:hover .team-img1{
    transform: scale(1.1);
    
}


.content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,74,77,0.7));
   
    transition: height 0.5s linear;
   
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    transition: 0.5s;

}
  .team-member .content .content1{
    width: 100%;
    color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  display: none;
    transition: 0.5s;
 }
 .team-member:hover  .content .content1{
    display: block;

 }
 .team-member:hover  .content{
    height: 100%;
    
}
.content .card-name{
    font-size: 3.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 3rem 0 2rem 0;
    
}
.content .card-postion{
    font-size: 3rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 2rem 0;

  
}
.content .card-discription{
    font-size: 2rem;
    padding: 0 3rem;
    text-align: justify;
    width: 100%;
    margin: 1.5rem 0 3rem 0;
}
.content .social-media-link{
    width: 100%;
    display: flex;
    justify-content: center;

}
.content .social-media-link .social-media-link-list{
    list-style: none;
    padding: 0 2rem;

}
.content .social-media-link .social-media-link-list  .social-media-link-list-href{
    
    color: black;
   
    font-size: 4rem;
}
.content .social-media-link .social-media-link-list:hover .social-media-link-list-href .fa-brands {
    transform: translateY(-10px);
    transition: 1s;
    
    
}
.our-team1{
justify-content: space-evenly;
}

/* our team */

/* ----------media query ----------- */

@media screen and (min-width: 300px) and (max-width: 480px){
    html{
        font-size: 4px;
    }

.main-contener {
    height:60vw;
    width: 100vw;
    
   background-size: cover;

}
.about-page-container {
    height: 80vw;
    width: 100vw;
   position: static;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
   
    display: none;
}
.img2{
 
    display: none;
}
.about-us{
    position: static;
    height:80% ;
    width: 80%;
  
  
}
.about-us .about-us-heading{
    margin-top: 4rem;
  text-align: center;
    color: #004a4d;
    font-size: 4.4rem;
    font-weight: bold;
    
}
.about-us .about-us-para{
    
    text-align:justify;
    font-size:3rem ;
    color: #004a4d;
    padding: 3rem 2rem;


}
.font-size-large{
    font-size: 6rem;
}
.section1 .section-para{
    font-size: 3rem;
}
.our-team-main-heading{
    font-size: 8rem;
}
.our-team{
    margin-top: 5rem;
   flex-direction: column;
   
    width: 100vw;
}
.team-member{
    height:80vw;
    width: 70%;
   margin: 0 0 5rem 0;
}

.content .card-name{
    font-size: 5rem;
  
    
    
    margin: 3rem 0 2rem 0;
    
}
.content .card-postion{
    font-size: 3.7rem;
 
    
    margin: 2rem 0;

  
}
.content .card-discription{
    font-size: 3rem;
    
}
.our-team1{
    margin-top:0;
}
.content .social-media-link .social-media-link-list  .social-media-link-list-href{
    
font-size: 5rem;
}
}